@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* :::::::::::::::::::::::::::: HEADER - ALERTA :::::::::::::::::::::::::::: */

.alerta{
    background-color: #D1891C;
    color: #333333;
    
}

.alerta h2{
    font-weight: normal;
    padding: 5px 25px;
}

header{
    background-color: #00669F;
    color: white;
    padding: 1.5rem 25px;
    box-shadow: 2px 2px 10px grey;
}

header h1{
    font-weight: normal;
}

/* :::::::::::::::::::::::::::: CONTENIDO :::::::::::::::::::::::::::: */
main{
    background-color: transparent;
    padding: 4rem 4rem;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
}

.card{
    background-color: red;
    width: 28vw;
}



/* :::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}