@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* :::::::::::::::::::::::::::: HEADER - ALERTA :::::::::::::::::::::::::::: */

.alerta{
    background-color: #D1891C;
    color: #333333;
    
}

.alerta h2{
    font-weight: normal;
    padding: 5px 25px;
}

header{
    background-color: #00669F;
    color: white;
    padding: 1.5rem 25px;
    box-shadow: 2px 2px 10px grey;
}

header h1{
    font-weight: normal;
}

/* :::::::::::::::::::::::::::: CONTENIDO :::::::::::::::::::::::::::: */
main{
    background-color: transparent;
    padding: 4rem 4rem;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
}

.card{
    background-color: #F3F3F3;
    box-shadow: 1px 2px 3px grey;
    width: 28vw;
    border-radius: 15px 15px 0 0;
}

.fondo{
    width: 28vw; /* view width */
    height: 40vh; /* view height */
    border-radius: 15px 15px 0 0;
    background-image: url(../img/fondo-bt.png);
    background-size: cover;
}

.wonderwoman{
    background-image: url(../img/fondo-W.png);
}

.superman{
    background-image: url(../img/fondo-SM.png);
}

.harley{
    background-image: url(../img/fondo-HARLEY.png);
}

.fondo img{
    width: 10%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil img{
    width: 40%;
    margin-top: -5rem;
    margin-bottom: 1rem;
    border-radius: 100px;
}

.content{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.content h1, .content p{
    margin-bottom: 1rem;
}


.content h1{
    font-size: 30px;
    font-weight: normal;
}

.button{
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    background-color: #00669F;
    color: white;
    border: none;
    padding: 1rem 3rem;
}

main .button-mas{
    background-color: #00669F;
    color: white;
    font-size: 25px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 3rem;

   position: sticky;
   left: 100vw;
}

/* :::::::::::::::::::::::::::: FOOTER :::::::::::::::::::::::::::: */

footer{
    background-color: #00669F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    text-align: center;
}

footer h3{
    font-weight: normal;
}

.github img{
    width: 50%;
}



/* :::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    main{
        background-color: transparent;
        padding: 4rem 2rem;
    }

    .card{
        width: 80vw;
    }

    .fondo{
        width: 80vw;
    }

    .perfil img{
        margin-top: -3.5rem;
        margin-bottom: 1rem;
        border-radius: 100px;
    }

    footer{
        text-align: center;
        flex-direction: column;
    }

    .github img{
        margin: 1rem 0;
        width: 50%;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    main{
        background-color: transparent;
        padding: 4rem 2rem;
    }

    .card{
        width: 40vw;
    }

    .fondo{
        width: 40vw;
    }

    .perfil img{
        margin-top: -2.5rem;
        margin-bottom: 1rem;
        border-radius: 100px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    main{
        background-color: transparent;
        padding: 4rem 2rem;
    }

    .card{
        width: 40vw;
    }

    .fondo{
        width: 40vw;
    }

    .perfil img{
        margin-top: -2.5rem;
        margin-bottom: 1rem;
        border-radius: 100px;
    }
}